*{
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
/* Note */
.note{
    margin: 10%;
    padding-top: 0%;
}
.note h1{
   font-size: 25px;
}
.note p{
    font-size: 15px;
 }
 /* our */
 .our{
   font-size: 20px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
 }

 /* Our services */
.services{
    background-color: #f5fbff;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* cards */
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
  } 
  body{
    min-height:100vh;
   } 
  .cards{
    display:flex;
    margin:auto;
    justify-content:center;
    gap:2em;
    flex-direction:column;
    padding: 2em;
    width:clamp(300px, 50vw, 700px);
    } 
  
  img{
    object-fit:cover;
    /* eight:100%; */
    width:100%;
    max-width:100%;
  } 
  .card{
    
    display:grid;
    grid-template-columns:repeat(auto-fit, minmax(200px, 1fr));
    /* background:#0002; */
    background:white;
    border-radius: 0.75em;
    border:1px solid #ffffff90;
   
    box-shadow: 
       0 2px 1px 1px rgba(0, 0, 0,.09), 
      0 5px 4px 1px rgba(0, 0, 0, 0.15), 
      0 7px 10px -3px rgba(0, 0, 0,0.17), 
      0 10px 13px -4px rgba(0, 0, 0, 0.23), 
      0 16px 20px -4px rgba(0, 0, 0, 0.36);
    overflow:hidden;
  } 
  
  .card__image{
    padding: 0.5em;  
    display:flex;
  }
  
  .card__content{
   display: grid;
   margin: 1em; 
   justify-content:center;
  }
  .card__title{
    font-weight:700;
    font-family:sans-serif;
    font-size: clamp(1.3rem, 2.5vw, 1.6rem);
    text-align:center;
    margin-bottom:1em;
  }
  
  .card__text{
    max-width:50ch;
    color:#0006;
    margin-bottom: 1em;
  } 
  
  .card__readmore{
  
    text-decoration:none;
    color:white;
    display:inline-flex;
    padding: 0.25em 1.15em;
    border-radius: 0.6em;
    width:max-content;
    background: #005aff;
     box-shadow:
      0 1px 2px 0 #0003, 
      0 3px 7px 0 #0004, 
      0 8px 15px 0 #0005;
   } 
  
  /* Footer */

.footer{
    text-align: center;
    width: 100%;
    padding: 20px 0px;
    margin: auto;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}
.footer p{
    font-size: 15px;
    padding: 0px;
    color: #60b3fc;
}


/* contact */
.location{
  width: 80%;
  margin: auto;
  padding: 80px 0px;
}

.location iframe{
  width: 100%;
}


.contact-us{
  width: 75%;
  margin: auto;
}

.contact-col{
   flex-basis: 48%;
   margin-bottom: 30px;
   transition: 0.5s;
}

.contact-col div{
   display: flex;
 align-items: center;
   margin-bottom: 40px;
}
.contact-col div h5{
 color: black;
 font-size: 18px;
 margin-bottom: 5px;
}
.contact-col div p{
   color: #ccc;
   font-size: 15px;
   margin-bottom: 5px;
}

.contact-col input, .contact-col textarea{

   width: 100%;
   margin: 10px;
   padding: 15px 0px ;
   border: none;
   box-sizing: border-box;
   background: #f0f0f0;
   outline: none;
   text-align: center;
   
   }

   
    .submit{
      color: black;
      display: inline-block;
      border: 1px solid black;
     background: transparent;
     padding: 12px 34px;
      text-decoration: none;
      font-size: 15px;
      position: relative;
      cursor: pointer;
      margin-left: 10px ;
    width: 100%;
  
  }
  .submit:hover{
      border: 1px solid tomato;
      background-color: tomato;
      transition: 0.95s;
      color: white;
  }

  @media (max-width:700px){
    .submit{
       background: tomato;
       color: white;
    }
    }
   


   /* ---------------pricing----------------------- */
   a {
    color: #6195FF;
    text-decoration: none;
    -webkit-transition: 0.2s opacity;
    transition: 0.2s opacity;
  }

  a:hover,
  a:focus {
    text-decoration: none;
    outline: none;
    opacity: 0.8;
    color: #6195FF;
  }

  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none
  }

  .outline-btn {
    display: inline-block;
    padding: 10px 35px;
    margin: 3px;
    border: 2px solid #6195ff;
    background: transparent;
    border-radius: 3px;
    -webkit-transition: 0.2s opacity;
    transition: all 0.3s ease-out;
    color: #6195ff;
  }

  .pricing {
    position: relative;
    text-align: center;
    border: 1px solid #EEE;
    background-color: #FFF;
    z-index: 11;
    margin: 15px 0px;
  }

  .pricing::after {
    content: "";
    background-color: #1C1D21;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    height: 0%;
    z-index: -1;
    -webkit-transition: 0.2s;
    transition: 0.5s all ease-in-out;
    color: white !important;
  }

  .pricing:hover:after {
    height: 100%;
  }

  .pricing .price-head {
    position: relative;
    margin-bottom: 20px;
  }

  .pricing .price-title {
    display: block;
    padding: 40px 0px 20px;
    text-transform: uppercase;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
  }

  .pricing:hover .price-title {
    color: #6195FF;
  }
  .pricing:hover .price-content{
color: white;
  }

  .pricing .price {
    position: relative;
    width: 140px;
    height: 140px;
    line-height: 140px;
    text-align: center;
    margin: auto;
    border-radius: 50%;
    border: 2px solid #6195FF;
  }

  .pricing .price h3 {
    font-size: 42px;
    margin: 0px;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 50%;
    position: absolute;
    left: 0;
    right: 0;
  }

  .pricing:hover .price h3 {
    color: #fff;
  }

  .pricing .duration {
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    color: #10161A;
    -webkit-transition: 0.2s color;
    transition: 0.2s color;
  }

  .pricing:hover .duration {
    color: #fff;
  }

  .pricing .price-btn {
    padding-top: 20px;
    padding-bottom: 40px;
  }

  /* rscit */
  .rscit{
    /* font-size: 60px; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: tomato;
  }

  .rscit h1{
    font-size: 52px;

  }

  .paper{
    margin: 10%;
  }

  /* ending */
.ending{
  text-align: center;
  justify-content: center;
  align-items: center;
  color: white;
  background: black;
  font-size: 1px;
  padding: 1%;
}